@media screen and (min-width: 100px){
  /* nice use of media query */
body{
  background-image: url("http://si.wsj.net/public/resources/images/BN-MT446_trivia_JV_20160224131821.jpg"), url("");
  /* download this image and link to it locally */
      /*background-color: #cccccc;*/
  font-family-sans-serif:  "Helvetica Neue", Helvetica, sans-serif;

}
.not-active {
   pointer-events: none;
   cursor: default;
}
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #00ffbf;}

ul.topnav ul.right {
    float: right;
    list-style-type: none;
}

@media screen and (max-width: 600px){
    ul.topnav ul.right,
    ul.topnav li {float: none;}
}

@media screen {
.flex-container {
    display: -webkit-flex;
    display: flex;
    /* nice use of flexbox !*/
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
}

/*

#choices
 
To style the choices, you can wrap each input in a label tag,
and style the input:

<label>
  <input type='radio'> Germany
</label>

#choices label{
  border: 1px solid black;
  border-radius:5px;
  padding:1em;
  etc...
}
 
 */

.flex-item {
    background-color: #84ae6a;
    width: 800px;
    height: 60px;
    margin: 40px;
    border: 2px solid #777777;
    border-radius: 25px;
}
/* remove unused code */
.flex-item:nth-child(2) {
  height: 100px;
  font-size: 20px: ;
}
