@media screen and (min-width: 100px){
body{
  background-image: url("http://si.wsj.net/public/resources/images/BN-MT446_trivia_JV_20160224131821.jpg"), url("");
      /*background-color: #cccccc;*/
  font-family-sans-serif:  "Helvetica Neue", Helvetica;

}
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #00ff40;}

ul.topnav ul.right {
    float: right;
    list-style-type: none;
}

@media screen and (max-width: 600px){
    ul.topnav ul.right,
    ul.topnav li {float: none;}
}

@media screen {
.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
}

.flex-item {
    background-color: #84ae6a;
    width: 1000px;
    height: 60px;
    margin: 40px;
    border: 2px solid #777777;
    border-radius: 25px;
}
.flex-item:first-child {
  background-color: ;
  width: ;
  height: ;
  margin: ;


}
.flex-item:nth-child(2) {
  background-color: ;
  width: ;
  height: ;
  margin: ;

}
